body{
    background-color: #004d00;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.casino-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 5px solid #cc9900;
    border-radius: 10px;
    background-color: #006600;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

h1, h2 {
    color: #ffcc00;
}

.balance-container, .bet-container, .action-buttons, .game-container {
    margin: 20px 0;
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
#dealer-cards img, #your-cards img {
    height: auto;
    width: 100px;
    margin: 0 5px;
}

button {
    background-color: #cc9900;
    border: none;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:disabled {
    background-color: #999999;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #ffcc00;
    color:#000;
}

#bet-amount {
    padding: 10px;
    border: 2px solid #cc9900;
    border-radius: 5px;
    font-size: 16px;
    color: #000;
}

#results {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}


@keyframes deal {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes flip {
    0% {
        transform: perspective(600px) rotateY(0deg);
    }
    100% {
        transform: perspective(600px) rotateY(180deg);
    }
}

.deal-animation {
    animation: deal 1.5s ease-out;
}

.flip-animation {
    animation: flip 0.6s;
}
